@import "tailwindcss";


#mainContainer{
  height: 100vh;
   width: 100vw;
  font-weight: 500;


 
}

#container{
  text-align: center;
  width:max-content;
  border: 1px solid black;
  height: max-content;
  background-color:beige;
  margin: auto;
  margin-top: 200px;
  border-radius:10px ;


  
}
button{
   font-size: 15px;
   border: 1px solid black;
   margin: 5px;
   border-radius:10px ;
   margin-top: 10px;
}
input{
  border: 1px solid black;
  border-radius:10px ;
   margin: 5px;
   padding: 5px;
   margin-top: 10px;
   
}
.input{
    width: 300px;
}



