@import "tailwindcss";


#mainContainer {
  height: 100vh;
  width: 100vw;
  font-weight: 500;
  font-weight: bold;
 
  
}

#container {
  text-align: center;
  width: max-content;
  border: 1px solid black;
  height: max-content;
  background-color: beige;
  border-radius: 10px;
  width: 70vw;
  margin-top: 50px;
  margin: auto;

}

button {
  font-size: 15px;
  border: 1px solid black;
  margin: 5px;
  border-radius: 10px;
  margin-top: 10px;
}

input {
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  margin-top: 10px;

}

.input {
  width: 80%;
  font-size: x-large;
  font-weight: bold;
  letter-spacing: 2px;
}
#lenght{
  width: 60%;
}
